<form [formGroup]="userForm" (submit)="saveUser()">
  <label for="name">Name</label>
  <input formControlName="name" id="name" />
  <app-control-messages [control]="userForm.get('name')"></app-control-messages>

  <label for="name">Last Name</label>
  <input formControlName="lastname" id="lastname" />
  <app-control-messages [control]="userForm.get('lastname')"></app-control-messages>

  <label for="email">Email</label>
  <input formControlName="email" id="email" />
  <app-control-messages [control]="userForm.get('email')"></app-control-messages>

  <label for="password">Password</label>
    <div class="password">
    <input formControlName="password" id="password" [type]="password"/>
    <button class="showPassword"(click)="hidePassword()">
      <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
    </button>
  </div>
  <app-control-messages [control]="userForm.get('password')"></app-control-messages>
  
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
